---
layout: base-layout.njk
pagination:
  data: collections.flagship
  size: 10
  reverse: true
  alias: firstposts
---
{% for project in firstposts %}
  <article>

  <h1>
    <a href="{{ project.url | url }}">{{ project.data.title }}</a>
  </h1>

  <time datetime="{{ project.date | dateIso }}">{{ project.date | dateReadable }}</time>

  {% excerpt project %}

  <a href="{{ project.url | url }}">Read more</a>
  </article>
{% endfor %}
